.toDo-element {
    margin: 10px 0;
    font-size: 1em;
    word-break: break-all;
    border-bottom: 1px solid #e1e1e1;
}

.checkbox {
    position: absolute;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}

.task, .task-checked {
    margin-left: 25px;
}

.task {

}

.task-checked {
    color: #c8c8c8;
}

.delete-button {
    position: relative;
    float: right;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    border: none;
    background-color: #FF6F61;
    color: white;
    border-radius: 5px;
}

.delete-button:focus {
    outline: 0;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #ff3d44;
    transition: 0.15s;
}