@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*, body {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "i" "l";
    max-width: 1000px;
    width: 80vw;
}